<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitm.flutter.batch04.flutter_04_05">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
